services:
  - type: web
    name: ai-performance-backend
    env: node
    rootDir: backend
    plan: free

    buildCommand: npm install
    startCommand: node src/server.js

    healthCheckPath: /health

    envVars:
      - key: PORT
        value: 5006

      - key: MONGODB_URI
        sync: false

      - key: FRONTEND_URL
        sync: false
